body{
	font-family: courier;
	background-image: url("https://ZacharyHoward8.github.io/490d02154ec33ffff4e9ab1da17445e2.jpg")
}

.tball{
	height:350px;
	position: relative;
	left: 270px;
	top: 200px;
}