{
.ZacharyHoward {
	text-align: center;
	margin-top: 200px;
	margin-right: 200px;
	margin-left: 200px;


}
.accomplishments {
	text-align: left;
	margin-top: 230px;
	float:left;
}
.funfacts {
	text-align: right;
	margin-top: 220px;
	float:right;

}
.aboutme {
	text-align: bottom;
	margin-top:550px;
	margin-left: 600px;
	margin-right: 300px;
}
